
*{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:link{
	color: #000;
}
a:visited{
	color: #000;
}
a:hover{
	color: #000;
}
a:active{
	color: #000;
}
body{
	width:100%;
}
#publish_zy{
	width: 80%;
	height: auto;
	margin:0 auto;
}
#class_info{

}

.hw_title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	text-align: center;
}
#hw_info{
	text-align: left;
	font-weight: bold;
	background: #ececec;
}
.pb_container{
	width: 100%;
	height: auto;
	min-height: 200px;
}
#hw_info_detail{
	width: 100%;
	height: 70px;
}
#hw_info_detail p{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
#choosePeople{
	width:300px;
	display: none;
}
#hwpeople{
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.hwifdt_left{
	padding-left: 5%;
	width: 55%;
	height: 70px;
	float: left;
	/* background:rgb(88,134,134); */
}
.hwifdt_right{
	width: 40%;
	height: 100px;
	float: left;
	/* background: rgb(77,103,103); */
}
#edit_hwinfo{
	text-align: right;
	background: #ececec;
	cursor: pointer;
	color: blue;
}
#button p{
	width:80px;
	height: 30px;
	float: left;
	color: white;
	text-align: center;
	cursor: pointer;
	line-height: 30px;
	background: rgb(88,134,134);
	border-radius: 10%;
}
.submitbtn{
	margin-left: 100px;
}


/* 编辑作业区 */
.container{
	width: 1170px;
	margin:0 auto;
	/* background-color: #ececec; */
}
.question_list{
	border-color: #ddd;
	margin-bottom: 20px;
	background-color: #fff;
	border:1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.question_list_header{
	color:#333;
	height: 15px;
	line-height: 15px;
	background-color: #f5f5f5;
	border-color: #ddd;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.question_list_title{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
}
.question_list_body{
	padding: 15px;
}
.question_list_footer{
	height: 15px;
	line-height: 15px;
	text-align: right;
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top:1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.question_list_btn{
	color: #333;
	font-size: 14px;

}
#modal-container-edit-question{
	display: none;
}
.btn{
	color: #fff;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	padding: 3px 8px;
	vertical-align: middle;
	background-color: rgba(149,185,185,1);
	border-color: rgba(149,185,185,1);
	border-radius: 4px;
}
.question_cont_container{
	width: 770px;
	margin:0 auto;
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.edit_container_header{
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.close{
	margin-top: -2px;
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}
.edit_title{
	margin: 0;
	line-height: 1.42857143;
}
.edit_container_body{
	position: relative;
	padding: 15px;
}
.form_line{
	width: 750px;
	height: 40px;
	line-height: 40px;
	clear:both;
}
.before_label{
	width: 100px;
	height: 40px;
	line-height: 40px;
	float: left;
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
.after_div{
	width: 590px;
	height: 40px;
	float: left;
	/* background-color: red; */
	position: relative;
	min-height: 1px;
	/*     padding-right: 15px; */
	padding-left: 15px;
}
.input_cont{
	width: 560px;
	height: 20px;
	padding: 6px 12px;
	font-size:14px;
	color:#555;
	background-color: #fff;
	border:1px solid #ccc;
	border-radius: 4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
#hw_hint label{
	display: block;
	text-align:right;
	font-size: 12px;
}
.edit_container_footer{
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
#btn_giveup{
	color:#333;
	background-color: #fff;
	border-color: #ccc;
}
#btn_delete{
	color:#fff;
	disabled:disabled;
	background-color: #d9534f;
	border-color: #d43f3a;
}

/* 选题区 */
#chooseQuestion{
	display: none;
}
#chooseContainerBody{
	max-height: 400px;
	display: none;
	overflow: scroll;
}
#chooseTips {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #e5e5e5;
	padding:3px;
}
#getHomework{
	float: right;
	margin-right: 10px;
}
#chooseHomework{
	display: none;
}
#choosePeopleContainerBody{
	width:250px;
	height: 400px;
	overflow: scroll;
}
