#main{
	width: 1024px;
	min-height: 100px;
	margin:70px auto;
}
.classInfo p {
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.hwTitle{
	width: 100%;
	height: 100px;
	margin-top: 20px;
	background: #ececec;
}
.hwTitle h3{
	width: 1000px;
    height: 100px;
    line-height: 100px;
    margin-left: 24px;
    background: white;
    font-weight: normal;
    padding-left: 15px;
    font-size: 28px;
}
.listCont{
	width: 1024px;
    min-height: 200px;
    margin-top: 20px;
}
.listCont table{
	width: 100%;
	border:0;
}
.listCont table tr{
	width: 100%;
	height: 40px;
 	background: #fff; 
 	cursor: pointer;
 	border-bottom: 1px solid #ccc;
	line-height: 40px;
}
.listCont table tr:hover{
	background: #ececec;
	color:  rgb(51,122,183);
}
.listCont table tr th{
	color:  rgb(51,122,183);
	background: #ececec;
}
.listCont table tr td{
	width: 15%;
	text-align: center;
}
